<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<beans:bean id="appUserDetailsService"
		class="com.webapp.security.AppUserDetailsService" />

	<beans:bean id="exceptionTranslationFilter"
		class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<beans:property name="accessDeniedHandler"
			ref="jsfAccessDeniedHandler" />
		<beans:property name="authenticationEntryPoint"
			ref="authenticationEntryPoint" />
	</beans:bean>

	<beans:bean id="jsfAccessDeniedHandler"
		class="com.webapp.security.JsfAccessDeniedHandler">
		<beans:property name="loginPath" value="/403.xhtml" />
		<beans:property name="contextRelative" value="true" />
	</beans:bean>

	<beans:bean id="authenticationEntryPoint"
		class="com.webapp.security.JsfLoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl"
			value="/Login.xhtml" />
		<beans:property name="redirectStrategy"
			ref="jsfRedirectStrategy" />
	</beans:bean>

	<beans:bean id="jsfRedirectStrategy"
		class="com.webapp.security.JsfRedirectStrategy" />
		
	<beans:bean id="successHandler" class="com.webapp.security.AcessoAutorizadoListener"/>

	<http pattern="/index.xhtml" security="none" />
	<http pattern="/Login.xhtml" security="none" />
	<http pattern="/500.xhtml" security="none" />
	<http pattern="/403.xhtml" security="none" />
	<http pattern="/404.xhtml" security="none" />
	<http pattern="/javax.faces.resource/**" security="none" />


	<http auto-config="false" use-expressions="true">
		<custom-filter ref="exceptionTranslationFilter"
			before="FILTER_SECURITY_INTERCEPTOR" />

		<intercept-url pattern="/Dashboard.xhtml"
			access="isAuthenticated()" />
			
		<intercept-url pattern="/Contas.xhtml"
			access="hasAnyRole('ADMINISTRADOR',	'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
			
		<intercept-url pattern="/cadastros/CadastroBairros.xhtml"
			access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/cadastros/CadastroCategoriaLancamento.xhtml"
			access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/cadastros/CadastroCategoriaProduto.xhtml"
			access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/cadastros/CadastroDestinoLancamento.xhtml"
			access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/cadastros/CadastroEquipe.xhtml"
			access="hasAnyRole('ADMINISTRADOR')" /> 
		<intercept-url pattern="/cadastros/CadastroFornecedores.xhtml"
			access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/cadastros/CadastroProdutos.xhtml"
			access="hasAnyRole('ADMINISTRADOR',	'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
		<intercept-url pattern="/cadastros/CadastroTipoLancamento.xhtml"
			access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/cadastros/CadastroTipoVenda.xhtml"
			access="hasAnyRole('ADMINISTRADOR')" />
		<intercept-url pattern="/cadastros/CadastroEmpresas.xhtml"
			access="hasAnyRole('ADMINISTRADOR')" />

		<intercept-url pattern="/operacoes/RegistroLancamentos.xhtml"
			access="hasAnyRole('ADMINISTRADOR',	'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
		<intercept-url pattern="/operacoes/RegistroCompras.xhtml"
			access="hasAnyRole('ADMINISTRADOR',	'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
		<intercept-url pattern="/operacoes/RegistroVendas.xhtml"
			access="hasAnyRole('ADMINISTRADOR',	'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
			

		<intercept-url pattern="/consultas/Compras.xhtml"
			access="hasAnyRole('ADMINISTRADOR', 'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
		<intercept-url pattern="/consultas/Estoque.xhtml"
			access="hasAnyRole('ADMINISTRADOR', 'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
		<intercept-url pattern="/consultas/Lancamentos.xhtml"
			access="hasAnyRole('ADMINISTRADOR', 'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
		<intercept-url pattern="/consultas/Vendas.xhtml"
			access="hasAnyRole('ADMINISTRADOR', 'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
			
			
		<intercept-url pattern="/relatorios/Vendas.xhtml"
			access="hasAnyRole('ADMINISTRADOR', 'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
		<intercept-url pattern="/relatorios/Lucros.xhtml"
			access="hasAnyRole('ADMINISTRADOR', 'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
		<intercept-url pattern="/relatorios/Lancamentos.xhtml"
			access="hasAnyRole('ADMINISTRADOR', 'USUARIO_AVANCADO', 'USUARIO_COMUM')" />
			
			
		<intercept-url pattern="/importar/ImportarDados.xhtml"
			access="hasAnyRole('ADMINISTRADOR')" />
			
		<!-- <intercept-url pattern="/**" access="denyAll" />  -->

		<form-login login-page="/Login.xhtml" authentication-success-handler-ref="successHandler"
			authentication-failure-url="/Login.xhtml?invalid=true"
			default-target-url="/" always-use-default-target="true" />
		<logout logout-url="/j_spring_security_logout"
			invalidate-session="true" />
	</http>


	<authentication-manager>
		<authentication-provider
			user-service-ref="appUserDetailsService">
			<password-encoder ref="encoder" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength"
			value="11" />
	</beans:bean>

</beans:beans>
